 
<div class="container">
  
<div class="d1 boxStatus">
    <div class="iconContainer">
        <img src="/assets/icon/confirmed2.svg"  
        alt="confirmed" class="homeIcon">
    </div>
    <div class="boxcontainer">
    <p>Confirmed</p>
    <p class="number blue">1000</p>
    </div>
</div>
<div class="d2 boxStatus">
    <div class="iconContainer">
        <img src="/assets/icon/death3.svg"  
        alt="death" class="homeIcon">
    </div>
    <div class="boxcontainer">
        <p>Deaths</p>
        <p class="number red">14</p>
        </div>
</div>
<div class="d3 boxStatus">
    <div class="iconContainer">
        <img src="/assets/icon/recovered3.svg"  
        alt="recovered" class="homeIcon">
    </div>
    <div class="boxcontainer">
        <p>Recovered</p>
        <p class="number green">1802</p>
    </div>
</div>
<div class="d4 boxStatus">
    <div class="iconContainer">
        <img src="/assets/icon/active3.svg"  
        alt="active" class="homeIcon">
    </div>
    <div class="boxcontainer">
        <p>Active</p>
        <p class="number orange">2514</p>
    </div>
</div>
</div>
