/* You can add global styles to this file, and also import other style files */
body {
  font-family: Open Sans !important;
  font-style: normal;
      
}
.navbar{

    height: 65px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
}
.navbar-logo{
    margin: auto;
   
}

.logo{
    width: 120px;
}
.boxStatus{
    background: #FFFFFF;
    box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
  /*.d1{border: 1px solid #67b7dc;}
  .d2{border: 1px solid #6771dc;}
  .d3{border: 1px solid #a367dc;}
  .d4{border: 1px solid #dc67ce;}*/

  .container {
    font-size: 20px;
    /*color: #797979;*/
    color: rgba(0,0,0,.82);
    width: 100%;
    background: rgb(255, 255, 255);
    display: grid;
    grid-gap: 10px;

  }

  .boxcontainer{
      display: flex;
      padding: 10px;
      flex-direction: column;
      width: 50%;
      /*justify-content: center;*/
  }
  .iconContainer{
    background-color: #d0d0d01f;
   /* background-color: #7194dc1c;*/
    padding: 16px;
    border-radius: 50%;
  }
  @media (max-width: 576px) { 
    .container {
        grid-template-columns:  1fr ;
        min-height: 500px;
      }
      
   }
   @media (min-width: 576px) { 
    .container {
        grid-template-columns: 1fr 1fr ;
        min-height: 400px;
      }
    
   }
   @media (min-width: 768px) { 
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        min-height: 150px;
      }
      .iconContainer{
        padding-left: 10px;
      }
   }

  .d0{
         height: 20px;;

  }
  .homeIcon{
    width: 50px;
  }
  p{
    margin-bottom: 0rem !important;
  }
  .number{
    font-size: 30px;
  }

  .blue{
    color: #82b2e4 ;
  }
  .red{
    color: #f68282 ;
  }
  .green{
    color: #4ad395;
  }
  .orange{
    color: #FFD060;
  }
  .menuList{
    display: flex;
    text-align: center;
    margin: 10px ;
  }



 


      .menu{
        margin: 12px;
      }

      a {
        text-decoration: none !important;
    }

    .menuContainer{
      display: flex;
      flex-direction: column;
      padding: 12px;
      background-color: #ffffff;
      border-radius: 10px;
      /*font-weight: bold;*/
      font-size: 10px;
      color: #82B2E4;
      order: 0;
      margin: 0px 5px;
      box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
      align-items: center;
      cursor: pointer;
      width: 70px;
    }
    .menuIcon{
      width: 25px;
    }
    .selected {
      border: 1px solid #82B2E4;
    }

   /* .form-control.selectCountry{
        border-radius: 12px;
       
        background-color: white;
        color: #495057;
        border:none;
        box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
        height: 42px;
    }*/
    .select{
      margin: 12px;
    }




    .form-control{
      border: 1px solid #F2F2F2 !important;
        border-radius: 12px !important;
        background-color:#F2F2F2 !important;
        /*opacity: 80% !important;*/
    }
    
    button#search-addon {
      background-color: #82b2f1;
      color: white;
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .form-control.selectCountry {
      border-top-left-radius: 12px  !important;
      border-bottom-left-radius: 12px !important;
      border-top-right-radius: 0% !important;
      border-bottom-right-radius: 0% !important;
    }

    .earth{
      width: 30px;
    }

    .calendar{
      width: 30px;
    }
    .date{
    background: #FFFFFF;
    box-shadow: 0px 3px 28px rgb(0 0 0 / 8%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    margin-left:12px ;
    margin-right: 12px;
    margin-bottom: 10px;
    }
   
   /* .date p{
      opacity: 70% !important;
    }
    .boxTitle{
      opacity: 80% !important;
    }*/