
            <div class="menuList">
                        <div class="menuContainer" routerLink="home" routerLinkActive="selected">
                            <img src="/assets/icon/home.svg"  
                            alt="home" class="menuIcon">
                            <a class="btnMenu" >Home</a>
                            
                         </div>
                    
                        <div class="menuContainer" [routerLink]="['statistics']" routerLinkActive="selected" (click)="getcharts()">
                            <img src="/assets/icon/chart.svg"  
                            alt="home" class="menuIcon">
                            <a class="btnMenu" >Statistics</a>
                         </div>
                    
                        <div class="menuContainer" routerLink="history" routerLinkActive="selected" (click)="getHistoryTable()">
                            <img src="/assets/icon/history.svg"  
                            alt="home" class="menuIcon">
                            <a class="btnMenu" >History</a>
                         </div>
                </div>

                <div class="date">
                    <img src="/assets/icon/calendar.png"  
                        alt="calendar" class="calendar"><p class="textOpacity">{{ today | date}}</p>
                  </div>
        <form class="select">
            <div class="input-group rounded">
                <select class="form-control selectCountry" 
                placeholder="Choose Country" name="country" #inputCountry
                [(ngModel)]="defaultCountry"
                (change)="onChangeCountry(inputCountry.value)">
                    <option value="{{country}}" *ngFor="let country of countries">{{ country }}</option>
                  </select>
              <button type="submit" class="input-group-text border-0" id="search-addon">
                <img src="/assets/icon/earth.svg"  
                            alt="earth" class="earth">
              </button>
            </div>        
        </form>

        
    


   
