
        <div class="menu mt-3 scroll">
    
            <ul class="menuList">
                
                    <li>
                        <div class="menuContainer">
                            <img src="/assets/icon/home.svg"  
                            alt="home" class="menuIcon">
                            <a class="btnMenu" >Home</a>
                            
                         </div>
                    </li>
                    <li>
                        <div class="menuContainer">
                            <img src="/assets/icon/chart.svg"  
                            alt="home" class="menuIcon">
                            <a class="btnMenu" >Statistics</a>
                         </div>
                    </li>
                    <li>
                        <div class="menuContainer">
                            <img src="/assets/icon/history.svg"  
                            alt="home" class="menuIcon">
                            <a class="btnMenu" >History</a>
                         </div>
                    </li>                           
              
                
                </ul>

        </div>
        <form class="select">
            <div class="input-group rounded">
                <select class="form-control selectCountry" placeholder="Choose Country">
                    <option>Morocco</option>
                    <option>Denmark</option>
                    <option>France</option>
                    <option>Spain</option>
                  </select>
              <button type="submit" class="input-group-text border-0" id="search-addon">
                <img src="/assets/icon/earth.svg"  
                            alt="home" class="earth">
              </button>
            </div>        
        </form>
  
   
    


   
